<footer>
  <div class="wrapper" fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between">
    <aside>
      <h4>Product</h4>
      <a routerLink="">Quest</a>
      <a routerLink="">Rift S</a>
      <a routerLink="">Go</a>
      <a routerLink="">Rift</a>
      <a routerLink="">Gear VR</a>
      <a routerLink="">Apps & Games</a>
      <a routerLink="">Medium</a>
      <a routerLink="">Oculus for Business</a>
    </aside>
    <aside>
      <h4>Developers</h4>
      <a routerLink="">Developer Center</a>
      <a routerLink="">Docs</a>
      <a routerLink="">Downloads</a>
      <a routerLink="">Tools</a>
      <a routerLink="">Developer Blog</a>
      <a routerLink="">Developer Forums</a>
    </aside>
    <aside>
      <h4>Company</h4>
      <a routerLink="">Blog</a>
      <a routerLink="">Careers</a>
      <a routerLink="">News</a>
      <a routerLink="">Brand Center</a>
      <a routerLink="">Story Studio</a>
      <a routerLink="">Oculus Connect</a>
      <a routerLink="">Research</a>
    </aside>
    <aside>
      <h4>Community</h4>
      <a routerLink="">VR for Good</a>
      <a routerLink="">Launch Pad</a>
      <a routerLink="">Forums</a>
      <hr />
      <a routerLink="">Support</a>
      <a routerLink="">Order History</a>
      <a routerLink="">Download Rift Setup</a>
    </aside>
    <aside>
      <nav>
        <a routerLink="" class="facebook"></a>
        <a routerLink="" class="instagram"></a>
        <a routerLink="" class="twitter"></a>
        <a routerLink="" class="youtube"></a>
        <a routerLink="" class="twitch"></a>
      </nav>
      <h5>Newsletter Sign Up</h5>
      <form action="" fxLayout="row">
        <input type="email" placeholder="Email Address" />
        <button type="submit"></button>
      </form>
      <p>By signing up you are agreeing to Oculus <a routerLink="">Terms of Service</a> and <a routerLink="">Privacy Policy</a>.</p>
    </aside>
  </div>
  <br /><br />
  <hr />
  <nav class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
    &copy; 2019 - All Rights Reserved
    <nav>
      <select name="" id="">
        <option value="us">English (US)</option>
        <option value="es">Español (COL)</option>
      </select>
      <a routerLink="">Privacy</a>
      <a routerLink="">Legal</a>
    </nav>
  </nav>
</footer>