section#banner {
    text-align: center;
    padding: 100px 0;
}

section#banner h1 {
    font-size: 50px;
    color: #ffffff;
}

section#banner p {
    color: #777879;
    font-size: 16px;
}

section.twoSec { padding: 20px 0; }

section.twoSec article { padding: 30px 0; }

section.twoSec article h4 {
    font-size: 16px;
    color: #898989;
}

section.twoSec article h2 {
    font-size: 30px;
    color: #ffffff;
    margin: 10px 0;
}

section.twoSec article p {
    font-size: 15px;
    color: #696969;
}

section#oneSec {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

section#oneSec h4 {
    color: #898989;
    font-size: 16px;
}

section#oneSec h2 {
    font-size: 30px;
    color: #636363;
    margin: 15px 0;
}

section#oneSec p {
    font-size: 15px;
    color: #696969;
}

section#oneSec img {
    width: 100%;
}