<app-header></app-header>
<section id="banner">
  <div class="wrapper">
    <h1>The next level of VR applications.</h1>
    <p>Take a closer look at the future</p>
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs=" center space-between">
    <article fxFlex="45" fxFlex.xs="100">
      <h4>WE ARE IN EARLY DEVELOPMENT</h4>
      <h2>VR Sound</h2>
      <p>We are working hard to get application with music and VJ light shopw experiences, poeple will enjoy VR and share with friends their music</p>
    </article>
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59533298_1296410580510456_4290034526060544000_n.png" alt="" />
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59629026_623725208051914_211243684371365888_n.png" alt="" />
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Leading thecnology in sports</h4>
      <h2>The world is your sports arcade.</h2>
      <p>Experience and train in VR sports such as basquetbal, boxing tennins etc. the sky is the limit</p>
    </article>
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="space-between center">
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Make your dreams come tru</h4>
      <h2>Make your movie.</h2>
      <p>The best inmersive platform for story telling and movies</p>
    </article>
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59462639_339415596713717_3366784009605480448_n.png" alt="" />
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59567833_2185486971533956_3495772009332211712_n.png" alt="" />
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Help to build the oasis</h4>
      <h2>VR in all aspects</h2>
      <p>Just like any other area VR is promise to help Healcare industries with better training and tools to developt their work </p>
    </article>
  </div>
</section>
<section id="oneSec">
  <div class="wrapper">
    <h4>TWO TOUCH CONTROLLERS</h4>
    <h2>Feeling is believing.</h2>
    <p>With Oculus Touch controllers, you can transport your hands and gestures right into the game. Your slashes, throws and grabs appear in VR with intuitive, realistic precision.</p>
    <img src="./assets/images/58847386_2226378490945506_6512943984531210240_n.png" alt="Feeling is believing" />
  </div>
</section>
<app-footer></app-footer>