<app-header></app-header>
<section id="banner">
  <div class="wrapper" fxLayout="column" fxLayoutAlign="center start">
    <h1>MRVR studios, Creating VR Apps that will change the world</h1>
    <a target="_blank"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z45YZXA6U3CSJ&source=url">Donate Us</a>
    <span id="VRFightClub"></span>
  </div>
</section>
<section id="vrDetails">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center">
    <img src="./assets/icons/Identidad_VR_FIGHT_CLUB1.png" alt="VR-features" fxFlex="45" fxFlex.xs="310px"
      fxFlex.sm="310px" />
    <aside fxFlex="50" fxFlex.xs="100%" fxFlex.sm="100%">
      <h2>VR FIGHT CLUB APP</h2>
      <p>No PC, No wires,. No limits, Start your training today, immerse yourself in the VR world of boxing and self
        workouts.</p>
      <ul>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/58264047_445160156026542_2542568713077391360_n.png)'"></span>
          <article>
            <h3>VR in sports training</h3>
            <p>VR technology is a new training tool that will make any team a true winning machine.
              Just like NBA or NFL players, virtual reality has the potential to make us better and improve our learning
              skills in less time under controlled enviroments.
            </p>
          </article>
        </li>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/58276963_395271587693820_6819057608071053312_n.png)'"></span>
          <article>
            <h3>VR in education and social learning</h3>
            <p>We build upon technology first simulated by NASA scientists, now is available in the classroom.
              We are able to offer a next level educational experience for all ages.
              School will be exciting and enterteining, jumping from your desk into the VR world</p>
          </article>
        </li>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/59787769_577286946114910_675855637086732288_n.png)'"></span>
          <article>
            <h3>VR in Music</h3>
            <p>VR technology allows musicians to create, develop and showcase their talents and improve
              musical skills to unlimited users. They will be able to use the platform to test audio, manipulate
              enviroments. VR will transform the way we engage with music videos, live music and education.
            </p>
          </article>
        </li>
      </ul>
      <a routerLink="/features">Explore Features <span></span></a>
    </aside>
  </div>
</section>
<section id="vrDetails">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center">
    <aside fxFlex="50" fxFlex.xs="100%" fxFlex.sm="100%">
      <h2>Untether Devices open the new VR world experiences</h2>
      <p>Discover how to we can change healthcare, retail, sports, entertainment and
        more indutries with Virtual reality technology</p>
      <ul>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/58264047_445160156026542_2542568713077391360_n.png)'"></span>
          <article>
            <h3>Immnerse yourself in a new learning experiences</h3>
            <p>Virtual reality divices will help profesionals to work side to side in the same room, a virtual room tha
              will have all sort of pieces of technology to the education service.
            </p>
          </article>
        </li>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/58276963_395271587693820_6819057608071053312_n.png)'"></span>
          <article>
            <h3>The Future of Shopping Is Virtual</h3>
            <p>Online stores are organize, but it's not the best experience compare to the physical store.
              VR store will allow customers to virtually browse the store and access detail information about the
              products</p>
          </article>
        </li>
        <li fxLayout="row" fxLayoutAlign="space-between">
          <span
            [style.background-image]="'url(./assets/icons/59787769_577286946114910_675855637086732288_n.png)'"></span>
          <article>
            <h3>For More information please contac us</h3>
            <p>Share your ideas with us we are open to listen to any project you have in mind.</p>
          </article>
        </li>
      </ul>
      <a routerLink="/features">Explore Features <span></span></a>
    </aside>
    <img src="./assets/images/VR-features.png" alt="VR-features" fxFlex="45" fxFlex.xs="310px" fxFlex.sm="310px" />
  </div>
</section>
<section id="gamePlay">
  <div class="wrapper">
    <h2>Venture into an incredible library of heart-pounding VR experiences.</h2>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
      <img src="./assets/images/20180512_115957.jpg" alt="" />
      <img src="./assets/images/20180722_190636.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00009.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00010.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00017.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00025.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00034.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00028.jpg" alt="" />
      <img src="./assets/images/HighresScreenshot00035.jpg" alt="" />
    </div>
  </div>
</section>
<section id="oneSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
          fxLayoutAlign.xs=" center space-between">    
          <article fxFlex="45" fxFlex.xs="100">          
            <button onClick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z45YZXA6U3CSJ&source=url');" class="btn btn-primary">DONATE</button><br><br>
            <h4 style="color:#c6c6c6">Please help us to fund our projects, any money contribution is accepted 
              and it will be appreciated, this is for us to continue to create great VR experiences in the near future.
               you can do a one-time donation or set a monthly donation..
            </h4 >    
            <h2 style="color:#c6c6c6">Thanks for your support!</h2>      
          </article>
        </div>
  </section>
<section id="whatInclude">
  <div class="wrapper">
    <h2>Create Your own VR apps, Create a business around the new headsets</h2>
    <img src="./assets/images/58264736_414572955987445_3234320754271059968_n.png" alt="VR features" />
  </div>
</section>
<app-footer></app-footer>