<app-header></app-header>
<div id="bg">
<section id="banner">
  <div class="wrapper">
    <h1>THE VR FIGHT CLUB</h1> 
    <button onClick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z45YZXA6U3CSJ&source=url');" class="btn btn-primary">DONATE</button>  
  </div>
</section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <img src="./assets/icons/Identidad_VR_FIGHT_CLUB1.png" alt="VR-features" fxFlex="45" fxFlex.xs="310px" 
        fxFlex.sm="310px" />  
      <article fxFlex="45" fxFlex.xs="100">
        <h4>The Concept</h4>
        <h2>OVERVIEW</h2>
        <p>The VR Fight club is a fun workout experience application,
           players will immerse themselves in an environment where they will be able to fist fight,
           train and listen to nice music and enjoy the light show just like a real experience of 
           a boxing arena with disco lights, sound effects, and music from professional DJ's.</p>
      </article>
    </div>
  </section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="columzn" fxLayoutAlign="space-between center"
      fxLayoutAlign.xs=" center space-between">
      <article fxFlex="45" fxFlex.xs="100">
        <h4>Under Development</h4>
        <h2>VR ARENA</h2>
        <p>We are working hard to get the feel of VJ lights that goes with the rythm of the music,
           smoke machines, laser lights and a DJ booth just like a real arena enviroment experience. </p>
      </article>
      <embed  src="https://www.youtube.com/embed/qt5pYOfL2DU">     
    </div>
  </section>

<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
    fxLayoutAlign.xs=" center space-between">
    <embed  src="https://www.youtube.com/embed/wvI4QJt8JrM">
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Early Mechanics</h4>
      <h2>TRAINING CONCEPT </h2>
      <p>Since the early development of the app, we wanted to create an application that hits targets at the rhythm
         of the music and create workouts with different speed and boxing throws to create different grades of difficulty,
          later on, we decide to create an avatar to be the opponent fighting back to the player, this will create more excitement and another level of challenge.
      </p>
    </article>
  </div>
</section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
      fxLayoutAlign.xs=" center space-between">
      <article fxFlex="45" fxFlex.xs="100">
        <h4>let's go DJ</h4>
        <h2>MUSIC & SOUND FX </h2>
        <p>We are from Miami Florida, and this is home and place for most of the popular DJ's in the world to perform their music.
            We follow the music and its latest tracks, inspired by DJ's like Chus & Ceballos, Oscar L, Eric Murillo, we try to mix and master music that sounds 
             like them in order to achieve a music experience that will give lost of motivations and entertainment to the player to work out intensively.
        </p>
      </article>
      
      <embed src="https://www.youtube.com/embed/b87wmKf9ruA">     
    </div>
  </section>
  <section class="twoSec">
      <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
        fxLayoutAlign.xs=" center space-between">
        <embed src="https://www.youtube.com/embed/pkqE36d0Qac">     
        <article fxFlex="45" fxFlex.xs="100">
          <h4>What we do the best!</h4>
          <h2>STORY TELLING</h2>
          <p>From character design to game development design, we write the VR experiences as we tell a story,
             we focus in place actors and create scripts and animations for the actors to make the most
             VR immersive experience you can have.
          </p>
        </article>       
      </div>
    </section>
  </div>
<section id="oneSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
        fxLayoutAlign.xs=" center space-between">    
        <article fxFlex="45" fxFlex.xs="100">          
          <button onClick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z45YZXA6U3CSJ&source=url');" class="btn btn-primary">DONATE</button><br><br>
          <h4 style="color:#c6c6c6">Please help us to fund our projects, any money contribution is accepted 
              and it will be appreciated, this is for us to continue to create great VR experiences in the near future. you can do a one-time donation or set a monthly donation.
            </h4 >       
          <h2 style="color:#c6c6c6"> Thanks for your support!</h2>      
        </article>
      </div>
</section>
<app-footer></app-footer>