<app-header></app-header>
<section id="banner">
  <div class="wrapper">
    <h1>THE VR FIGHT CLUB</h1>
    <p>This is our first sports app, our goal is simple, make poeple work ut and have fun at the same time</p>
  </div>
</section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <img src="./assets/icons/Identidad_VR_FIGHT_CLUB1.png" alt="VR-features" fxFlex="45" fxFlex.xs="310px"
        fxFlex.sm="310px" />   
      <article fxFlex="45" fxFlex.xs="100">
        <h4>Leading thecnology in sports</h4>
        <h2>The world is your sports arcade.</h2>
        <p>Experience and train in VR sports such as basquetbal, boxing tennins etc. the sky is the limit</p>
      </article>
    </div>
  </section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
      fxLayoutAlign.xs=" center space-between">
      <article fxFlex="45" fxFlex.xs="100">
        <h4>WE STILL IN EARLY DEVELOPMENT</h4>
        <h2>VR </h2>
        <p>We are working hard to get application with music and VJ light shopw experiences, poeple will enjoy VR and
          share with friends their music</p>
      </article>
      <embed src="https://www.youtube.com/embed/wvI4QJt8JrM">     
    </div>
  </section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
    fxLayoutAlign.xs=" center space-between">
    <embed  src="https://www.youtube.com/embed/pkqE36d0Qac">
    <article fxFlex="45" fxFlex.xs="100">
      <h4>WE STILL IN EARLY DEVELOPMENT</h4>
      <h2>VR </h2>
      <p>We are working hard to get application with music and VJ light shopw experiences, poeple will enjoy VR and
        share with friends their music</p>
    </article>
  </div>
</section>
<section class="twoSec">
    <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
      fxLayoutAlign.xs=" center space-between">
      <article fxFlex="45" fxFlex.xs="100">
        <h4>WE STILL IN EARLY DEVELOPMENT</h4>
        <h2>VR </h2>
        <p>We are working hard to get application with music and VJ light shopw experiences, poeple will enjoy VR and
          share with friends their music</p>
      </article>
      <embed src="https://www.youtube.com/embed/b87wmKf9ruA">     
    </div>
  </section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59629026_623725208051914_211243684371365888_n.png" alt="" />
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Leading thecnology in sports</h4>
      <h2>The world is your sports arcade.</h2>
      <p>Experience and train in VR sports such as basquetbal, boxing tennins etc. the sky is the limit</p>
    </article>
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Make your dreams come tru</h4>
      <h2>Make your movie.</h2>
      <p>The best inmersive platform for story telling and movies</p>
    </article>
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59462639_339415596713717_3366784009605480448_n.png"
      alt="" />
  </div>
</section>
<section class="twoSec">
  <div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <img fxFlex="45" fxFlex.xs="320px" src="./assets/images/59567833_2185486971533956_3495772009332211712_n.png"
      alt="" />
    <article fxFlex="45" fxFlex.xs="100">
      <h4>Help to build the oasis</h4>
      <h2>VR in all aspects</h2>
      <p>Just like any other area VR is promise to help Healcare industries with better training and tools to developt
        their work.. eso de just like any other area no tiene sentido en ingles quieres decir q como en cualquier area
      </p>
    </article>
  </div>
</section>
<!-- <section id="oneSec">
  <div class="wrapper">
    <h4>TWO TOUCH CONTROLLERS</h4>
    <h2>Feeling is believing.</h2>
    <p>With Oculus Touch controllers, you can transport your hands and gestures right into the game. Your slashes,
      throws and grabs appear in VR with intuitive, realistic precision.</p>
    <img src="./assets/images/58847386_2226378490945506_6512943984531210240_n.png" alt="Feeling is believing" />
  </div>
</section> -->
<app-footer></app-footer>